# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# MLflow local
mlruns/

# Dataset (gede banget, jangan di-push)
raw_data/
*.zip
*.tar.gz

# Model output (di-upload via artifact, bukan commit langsung)
model_output/

# IDE
.vscode/
.idea/

# Preprocessed data (generated during CI)
MLProject/garbage_preprocessing/
